.navigation {
  display: flex;
  // justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 20vh;
  // max-height: 100px;
  font-size: 1.25em;
  // background-color: aquamarine;
}

.profile-pict {
  cursor: pointer;
  float: left;
  position: relative;
  margin-top: 40px;
  margin-left: 85px;
  margin-right: 50px;
  height: 100px;
  width: 100px;
  border: 5px solid #00000011;
  border-radius: 50%;
  background-image: url("../../../static/profile-pick.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 118%;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.profile-pict::before {
  position: absolute;
  height: 12vh;
  width: 12vh;
  content: '';
  border-radius: 50%;
  background-color: #00000011;
  transform-origin: center;
  transform: translate(35%, -35%) scale(0, 0);
  transition: transform 0.5s ease-in-out;
}
.profile-pict:hover {
  border: 5px solid #414042;
}
.profile-pict:hover::before {
  transform: translate(50%, -50%) scale(4, 4);
}

.navigationItem-socket {
  padding-top: 7.5vh;
  float: left;
  min-width: 2px;
  height: 100%;
  .navigationItem-item {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    font-size: 1.8vh;
    font-weight: 600;
    transition: all .3s ease-in-out;
    color: #a7a9ac;
    a {
      transition: all .3s ease-in-out;
      text-decoration: none;
    }
    a:hover {
      color: #414042;
    }
  }
}

.navigationItem-active {
  color: #414042;
}