.cv-socket {
    position: relative;
    margin-top: 3vh;
}

.cv-sidebar-socket {
    position: fixed;
    width: 80px;
    // height: calc(100vh - 21vh);
    // border: 1px solid salmon;
    // transform: translate(4px,0px)
}

$h : 36px;
$dot1 : 10px;
.sidebar-item {
    position: relative;
    transition: all .4s ease;
    cursor: pointer;
    font-size: 24px;
    color: #a7a9ac;
    width: 100%;
    height: 38px;
    display: table;
    //background-color: #a7a9ac;
    //border-radius: 50%;
    // transform: translate(18px, 0px);
    margin-bottom: 18px;
    text-align: center;
    // width: 2px;
    // border: 1px solid seagreen;
}
.last {
    // border: 1px solid slateblue;
    margin-bottom: 0px;
}
.sidebar-item-dot, .active {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    // border: 1px solid skyblue;

}
.sidebar-item-dot::before, .active::before{
    display: block;
    content: '';
    width: $dot1;
    height: $dot1;
    margin: auto;
    background-color: #a7a9ac;
    // border: 2px solid transparent;
    border-radius: 50%;
    transition: all .5s ease;
}
.sidebar-item-dot:hover::before, .active::before {
    background-color: #414042;
    // border: 2px solid #414042;
}

.cv-content-socket {
    width: 80%;
    margin-left: 240px;
    // height: 79vh;
    // border: 1px solid seagreen;
}

#about-me {
    width: 100%;
    // border: 1px solid slateblue;
    height: 150vh;

}
.greating {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 34px;
    width: 700px;
    // border: 1px solid salmon;
    text-transform: uppercase;
    font-weight: 700;
    color: #414042;
    letter-spacing: 1px;
    line-height: 34px;
    margin-bottom: 34px;
}

.description {
    width: 780px;
}