.mark-text {
    position: relative;
}
.mark-text::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 1px;
    height: 2px;
    background-color: #ffc401;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
.mark-text:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}