.tooltip-base {
    position: relative;
}
.tooltip-banner, .tooltip-banner-active {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transform: translate(80px, 20%);
    padding: 0px 6px;
    white-space: nowrap;
    background-color: #414042;
    color: white;
    transition: all .4s ease;
}
.tooltip-base:hover > .tooltip-banner, .tooltip-banner-active {
    visibility: visible;
    opacity: 1;
}